/*!
 * CSS for dashboard page
 * Anibal Gonzalez, aigonzalez@lojagas.com
 */

.info-label {
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
}

.info-periodo {
    font-size: 1em;
}

.info-orden {
    font-size: 1em;
    background-color: white;
    color: black;
    border-style: inset;
    border: 1px solid #7b7b7b;
}

.card-body-info {
    padding-top: 0.6rem;
    padding-bottom: 0.1rem;
}

.card-body-extra {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.card-header {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.card-footer {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.form-control-sm {
    font-weight: 500;
}