th {
    font-size: 0.8em;
}

td {
    font-size: 0.7em;
}

.ley-warning {
    background-color:#ffc107;
    padding: 0.1em;
}

.ley-danger {
    background-color:#dc3545;
    padding: 0.1em;
}

.ley-success {
    background-color:#28a745;
    padding: 0.1em;
}

.ley-info {
    background-color:#17a2b8;
    padding: 0.1em;
}

.registro-tachado {
    text-decoration: line-through red;
}
