{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/turnos/distribuidor_entrada.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.keypad.css' %}">
{% endblock %}

{% block content %}
<div class="mt-3 col-md-12">
    <div class="text-left text-muted">
        <h5 class="mb-3">REGISTRO DE ENTRADA DE DISTRIBUIDORES Y CLIENTES FINALES</h5>
    </div>
    <div class="text-left mb-3">
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'distribuidor-entrada' %}">
            <i class="bi bi-plus-circle"></i> NUEVO
        </a>
        <button class="btn btn-primary btn-sm" id="btnGuardar">
            <i class="bi bi-save"></i> GUARDAR
        </button>
        <button class="btn btn-outline-success btn-sm ml-1" data-toggle="modal" id="btnImprimir" data-target="#modalImprimir">
            <i class="bi bi-printer"></i> IMPRIMIR
        </button>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-header bg-info text-white">Distribuidor / Vehiculo</div>
            <div class="card-body card-body-info">
                <select class="form-control form-control-sm form-distri" id="selectDist">
                    <option selected>[ SELECCIONE AQUI UN DISTRIBUIDOR ]</option>
                    {% for item in lista_distribuidores %}
                    <option value="{{item.codi_inve_clie}}">{{item.nomb_inve_clie}} - {{item.codi_inve_clie}}</option>
                    {% endfor %}
                </select>
                <select class="mt-2 form-control form-control-sm form-distri" id="selectTransportista">
                    <option selected>[ SELECCIONE AQUI UN CHOFER O VEHICULO ]</option>
                </select>
                <div class="form-inline mt-2">
                    <label class="my-1 mr-2 white-muted" for="selectTarifaDom"><small>Destino Domestico</small></label>
                    <select class="form-control form-control-sm form-distri" id="selectTarifaDom">
                        <option selected>[ CAMBIAR DESTINO ]</option>
                    </select>
                </div>
                <div class="form-inline mt-2">
                    <label class="my-1 mr-3 white-muted" for="selectTarifaInd"><small>Destino Industrial</small></label>
                    <select class="form-control form-control-sm form-distri" id="selectTarifaInd">
                        <option selected>[ CAMBIAR DESTINO ]</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-info text-white">Datos de Orden</div>
            <div class="card-body card-body-info">
                <table class="table-responsive">
                    <tbody>
                    <tr>
                        <th><small>Orden Nro.:</small></th>
                        <td><b id="txtNroOrden" class="label-orden">{{ secuencias.num_turno_pape }}</b></td>
                    </tr>
                    <tr>
                        <th><small>Turno:</small></th>
                        <td class="form-inline">
                            <span class="badge badge-primary info-orden">
                                <small id="txtNumTurno">{{ secuencias.turno_ingr }}</small>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th><small>Distribuidor:</small></th>
                        <th>
                            <span class="badge badge-primary info-orden"><small id="txtCodDist">-</small></span>
                            <span class="badge badge-primary info-orden"><small id="txtNomDist">-</small></span>
                        </th>
                    </tr>
                    <tr>
                        <th><small>Destino:</small></th>
                        <th>
                            <span class="badge badge-primary info-orden"><small id="txtTarDom">-</small></span>
                            <span class="badge badge-primary info-orden"><small id="txtTarInd">-</small></span>
                        </th>
                    </tr>
                    <tr>
                        <th><small>Chofer:</small></th>
                        <th>
                            <span class="badge badge-primary info-orden"><small id="txtCodTran">-</small></span>
                            <span class="badge badge-primary info-orden"><small id="txtNomTran">-</small></span>
                            <span class="badge badge-primary info-orden"><small id="txtDniTran">-</small></span>
                        </th>
                    </tr>
                    <tr>
                        <th><small>Vehiculo:</small></th>
                        <th>
                            <span class="badge badge-primary info-orden"><small id="txtMarcVehi">-</small></span>
                            <span class="badge badge-primary info-orden"><small id="txtPlacVehi">-</small></span>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- seccion saldo cupo y autorizar extras -->
    <div class="card-group mt-1">
        <div class="card bg-light text-center">
            <div class="card-body card-body-extra row justify-content-center">
                <div class="col">
                    <span><small>Cupo GLP Dom:</small></span>
                    <small class="badge badge-secondary" id="saldoDom">N/A</small>
                </div>
                <div class="col">
                    <span><small>GLP Extra:</small></span>
                    <small class="badge badge-secondary" id="saldoInd">N/A</small>
                </div>
            </div>
        </div>
        <div class="card bg-light text-center">
            <div class="card-body card-body-extra row justify-content-between">
                <div class="col">
                    <span><small>Capacidad Vehiculo:</small></span>
                    <small class="badge badge-secondary" id="txtCapacidadVehiculo">N/A</small>
                </div>
            </div>
        </div>
    </div>
    <!-- notificacion cargas pendientes -->
    <div class="card-group mt-1" id="ntf_pendiente" style="display:none;">
        <div class="card bg-warning text-center">
            <div class="card-body card-body-extra">
                <span id="ntf_mensaje"></span>
            </div>
        </div>
    </div>
    <!-- tabla ingreso de cilindros -->
    <div class="card-group mt-1">
        <div class="card">
            <div class="card-header bg-info text-white">Cilindros que ingresan con el conductor</div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center"><small><b>Llenos</b></small></th>
                        <th scope="col" class="text-center"><small><b>Vacios</b></small></th>
                        <th scope="col" class="text-center"><small><b>Fugas</b></small></th>
                        <th scope="col" class="text-center"><small><b>Total</b></small></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th><small><b>15Kg</b></small></th>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt15Total', 'txt15Lleno', 'txt15Vacio', 'txt15Fuga')"
                               class="form-control form-control-sm" id="txt15Lleno"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt15Total', 'txt15Lleno', 'txt15Vacio', 'txt15Fuga')"
                               class="form-control form-control-sm" id="txt15Vacio"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt15Total', 'txt15Lleno', 'txt15Vacio', 'txt15Fuga')"
                               class="form-control form-control-sm" id="txt15Fuga"></td>
                    <td><input type="text" class="form-control form-control-sm" id="txt15Total" readonly></td>
                </tr>
                <tr>
                    <th><small><b>45Kg</b></small></th>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt45Total', 'txt45Lleno', 'txt45Vacio', 'txt45Fuga')"
                               class="form-control form-control-sm" id="txt45Lleno"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt45Total', 'txt45Lleno', 'txt45Vacio', 'txt45Fuga')"
                               class="form-control form-control-sm" id="txt45Vacio"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt45Total', 'txt45Lleno', 'txt45Vacio', 'txt45Fuga')"
                               class="form-control form-control-sm" id="txt45Fuga"></td>
                    <td><input type="text" class="form-control form-control-sm" id="txt45Total" readonly></td>
                </tr>
                <tr>
                    <th><small><b>Otros</b></small></th>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txtOtroTotal', 'txtOtroLleno', 'txtOtroVacio', 'txtOtroFuga')"
                               class="form-control form-control-sm" id="txtOtroLleno"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txtOtroTotal', 'txtOtroLleno', 'txtOtroVacio', 'txtOtroFuga')"
                               class="form-control form-control-sm" id="txtOtroVacio"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txtOtroTotal', 'txtOtroLleno', 'txtOtroVacio', 'txtOtroFuga')"
                               class="form-control form-control-sm" id="txtOtroFuga"></td>
                    <td><input type="text" class="form-control form-control-sm" id="txtOtroTotal" readonly></td>
                </tr>
                <tr>
                    <th><small><b>Total</b></small></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="text" class="form-control form-control-sm" id="txtTotal" readonly></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- tabla cargas a facturar -->
        <div class="card">
            <div class="card-header bg-info text-white">Cargas a Facturar</div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center"><small><b>Doméstico</b></small></th>
                        <th scope="col" class="text-center"><small><b>Industrial</b></small></th>
                        <th scope="col" class="text-center"><small><b>Agrícola</b></small></th>
                        <th scope="col" class="text-center"><small><b>Total</b></small></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th><small><b>15Kg</b></small></th>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt15TotalFact', 'txt15Dom', 'txt15Ind', 'txt15Agr')"
                               class="form-control form-control-sm" id="txt15Dom"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt15TotalFact', 'txt15Dom', 'txt15Ind', 'txt15Agr')"
                               class="form-control form-control-sm" id="txt15Ind"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt15TotalFact', 'txt15Dom', 'txt15Ind', 'txt15Agr')"
                               class="form-control form-control-sm" id="txt15Agr"></td>
                    <td><input type="text" class="form-control form-control-sm" id="txt15TotalFact" readonly></td>
                </tr>
                <tr>
                    <th><small><b>45Kg</b></small></th>
                    <td></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt45TotalFact', 'txt45Ind', 'txt45Agr')"
                               class="form-control form-control-sm" id="txt45Ind"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txt45TotalFact', 'txt45Ind', 'txt45Agr')"
                               class="form-control form-control-sm" id="txt45Agr"></td>
                    <td><input type="text" class="form-control form-control-sm" id="txt45TotalFact" readonly></td>
                </tr>
                <tr>
                    <th><small><b>Otros</b></small></th>
                    <td></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txtOtroTotalFact', 'txtOtroInd', 'txtOtroAgr')"
                               class="form-control form-control-sm" id="txtOtroInd"></td>
                    <td><input type="text" onclick="cleanInput(this.id)" onchange="sumarInputs('txtOtroTotalFact', 'txtOtroInd', 'txtOtroAgr')"
                               class="form-control form-control-sm" id="txtOtroAgr"></td>
                    <td><input type="text" class="form-control form-control-sm" id="txtOtroTotalFact" readonly></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--modal pdf turno-->
        <div class="modal fade" id="modalImprimir" data-keyboard="false" tabindex="-1" aria-labelledby="tituloModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tituloModal"><small>Vista previa de Orden de Despacho</small></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modal-pdf" id="divPdf">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery.plugin.js' %}"></script>
<script src="{% static 'js/jquery.keypad.js' %}"></script>
<script src="{% static 'js/jspdf/jspdf.min.js' %}"></script>
<script src="{% static 'js/jspdf/jspdf.plugin.addimage.js' %}"></script>
<!--<script src="{% static 'js/jspdf/jspdf.plugin.from_html.js' %}"></script>
<script src="{% static 'js/jspdf/jspdf.plugin.split_text_to_size.js' %}"></script>-->
<script src="{% static 'js/jspdf/jspdf.plugin.autoprint.js' %}"></script>
<script src="{% static 'js/pdfobject.min.js' %}"></script>
<script src="{% static 'js/turnos/distribuidor_entrada.js' %}"></script>
<script type="text/javascript">
    window.onload=function() {
        document.getElementById("btnImprimir").disabled = true;

        listaEtiquetas = ["txt15Lleno", "txt15Vacio", "txt15Fuga", "txt45Lleno", "txt45Vacio", "txt45Fuga", "txtOtroLleno", "txtOtroVacio", "txtOtroFuga",
                          "txt15Dom", "txt15Ind", "txt15Agr", "txt45Ind", "txt45Agr", "txtOtroInd", "txtOtroAgr", "txt15Total", "txt45Total", "txtOtroTotal",
                          "txtTotal", "txt15TotalFact", "txt45TotalFact", "txtOtroTotalFact"];
        cargarValoresIniciales(listaEtiquetas);
        $("#txt15Lleno, #txt15Vacio, #txt15Fuga, #txt45Lleno, #txt45Vacio, #txt45Fuga, #txtOtroLleno, #txtOtroVacio, \n\
           #txtOtroFuga, #txt15Dom, #txt15Ind, #txt15Agr, #txt45Ind, #txt45Agr, #txtOtroInd, #txtOtroAgr").keypad();
    };

    document.getElementById("btnGuardar").addEventListener("click", validarTurno);
    document.getElementById("btnImprimir").addEventListener("click", imprimirTurno);

    /* Onchange de select distribuidor */
    document.getElementById('selectDist').addEventListener('change', function(){
        limpiarCamposInfo();
        cargarSelectChoferes(this.value);
        document.getElementById('txtCodDist').textContent = this.value;
        document.getElementById('txtNomDist').textContent = this.options[this.selectedIndex].text;
        cargarSelectTarifas(this.value);
    });

    /* Onchange de select choferes */
    document.getElementById('selectTransportista').addEventListener('change', function(){
        var e = document.getElementById("selectDist");
        var id_cliente = e.options[e.selectedIndex].value;
        if(!isNaN(this.value)){
            cargarDatosChofer(id_cliente, this.value);
        }
    });

    /* Onchange de select tarifa domestico */
    document.getElementById('selectTarifaDom').addEventListener('change', function(){
        document.getElementById('txtTarDom').textContent = this.options[this.selectedIndex].text;

        var selTar = document.getElementById("selectTarifaDom");
        var id_tarifa_dom = selTar.options[selTar.selectedIndex].value;
        var selTar = document.getElementById("selectTarifaInd");
        var id_tarifa_ind = selTar.options[selTar.selectedIndex].value;
        var selDis = document.getElementById("selectDist");
        var id_dist = selDis.options[selDis.selectedIndex].value;
        verificarSaldoTarifa(id_tarifa_dom, id_tarifa_ind, id_dist);
    });

    /* Onchange de select tarifa industrial */
    document.getElementById('selectTarifaInd').addEventListener('change', function(){
        document.getElementById('txtTarInd').textContent = this.options[this.selectedIndex].text;
    });

    /* Obtener turno y mostrar en modal */
    function imprimirTurno(){
        var nroOrden = document.getElementById("txtNroOrden").innerText;
        var urlapi = '{% url 'api:turno-list' %}' + nroOrden + '/';
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: urlapi,
            dataType: 'json',
            success: function (data) {
                var turno = data;
                PDFObject.embed(construirPdf(turno), "#divPdf");
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al obtener el turno, contacte al administrador.\n\n" + arrExe.responseText);
            }
        });
    };

    /* Realizamos validaciones antes de enviar a guardar */
    function validarTurno(){
        var e = document.getElementById("selectDist");
        var id_cliente = e.options[e.selectedIndex].value;
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'pendiente-cliente' %}',
            data: {'cliente_id': id_cliente},
            dataType: 'json',
            success: function (data) {
                if(data.existe){
                    var responseAlert = confirm("Atención!!!\n\nEl Distribuidor mantiene facturas pendientes de pago.\n\nDesea continuar?");
                    (responseAlert) ? crearTurno() : alert('Info!\n\nUsted ha cancelado la acción de Guardar la Orden de despacho ...');
                }else {
                    crearTurno();
                }
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al consultar facturas pendientes, contacte al administrador.\n\n" + arrExe.responseText);
            }
        });
    };

    /* Crear turno con api */
    function crearTurno(){
        if (validarCamposLlenos()){
            var numOrden = document.getElementById('txtNroOrden').innerText;
            var responseAlert = confirm("¿Esta seguro de crear la orden nro: " + numOrden + " ?");
            if(responseAlert){
                document.getElementById("btnGuardar").disabled = true;
                var dataTurno = generarJsonDatosTurno();
                var urlapi = '{% url 'api:turno-list' %}';
                $.ajax({
                    async: false,
                    headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                    type: 'POST',
                    url: urlapi,
                    data: JSON.stringify(dataTurno),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        document.getElementById("btnImprimir").disabled = false;
                        alert("GUARDAR TURNO:\n\nTurno nro.: " + numOrden + " se guardo correctamente.\n\n");
                    },
                    error: function (msg) {
                        var arrExe = eval('(' + JSON.stringify(msg) + ')');
                        alert("ERROR: \n\nOcurrio un problema al crear el turno, contacte al administrador.\n\n" + arrExe.responseText);
                    }
                });
            }else{
                document.getElementById("btnGuardar").disabled = false;
            }
        }
    };

    /* Carga datos de chofer y vehiculo */
    function cargarDatosChofer(id_cliente, id_transportista){
        var urlapi = '{% url 'api:cliente-list' %}' + id_cliente + '/transportistas/' + id_transportista + '/';
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: urlapi,
            dataType: 'json',
            success: function (data) {
                document.getElementById('txtCodTran').textContent = data.pk;
                document.getElementById('txtNomTran').textContent = data.desc_inve_trsp;
                document.getElementById('txtDniTran').textContent = data.iden_inve_trsp;
                document.getElementById('txtMarcVehi').textContent = data.marc_inve_trsp;
                document.getElementById('txtPlacVehi').textContent = data.plac_inve_trsp;
                if(data.capacidad !== null){
                    document.getElementById('txtCapacidadVehiculo').innerHTML = data.capacidad;
                }else {
                    document.getElementById('txtCapacidadVehiculo').innerHTML = 'N/A';
                }
            },
            error: function () {
                location.reload();
            }
        });
    };

    /* Carga choferes en select */
    function cargarSelectChoferes(codigo){
        limpiarSelect('selectTransportista');
        var urlapi = '{% url 'api:cliente-list' %}' + codigo + '/transportistas/';
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: urlapi,
            dataType: 'json',
            success: function (data) {
                var select = document.getElementById('selectTransportista');
                optionDefault = document.createElement("option");
                optionDefault.text = "[ SELECCIONE AQUI UN CHOFER O VEHICULO ]";
                if (data.length > 0) {
                    select.appendChild(optionDefault);
                    data.forEach(function(item) {
                        option = document.createElement("option");
                        option.value = item.pk;
                        option.text = item.pk + ' - ' + item.desc_inve_trsp;
                        select.appendChild(option);
                    });
                }else{
                    select.appendChild(optionDefault);
                }
            },
            error: function () {
                location.reload();
            }
        });
    };

    /* Cargar choferes a select */
    function cargarSelectTarifas(codigo){
        limpiarLabelsTarifa();
        limpiarSelect('selectTarifaDom');
        limpiarSelect('selectTarifaInd');
        var urlapi = '{% url 'api:cliente-list' %}' + codigo + '/tarifas/';
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: urlapi,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    var selectDom = document.getElementById('selectTarifaDom');
                    var selectInd = document.getElementById('selectTarifaInd');
                    tarifas_dom = [];
                    tarifas_ind = [];
                    data.forEach(function(item) {
                        if(item.segm_inve_tari == 'DOM'){
                            tarifas_dom.push(item);
                        }else{
                            tarifas_ind.push(item);
                        }
                    });
                    agregarTarifas(tarifas_dom, selectDom);
                    agregarTarifas(tarifas_ind, selectInd);
                    establecerSeleccionado(selectDom, 'txtTarDom');
                    establecerSeleccionado(selectInd, 'txtTarInd');

                    var selTar = document.getElementById("selectTarifaDom");
                    var id_tarifa_dom = selTar.options[selTar.selectedIndex].value;
                    var selTar = document.getElementById("selectTarifaInd");
                    var id_tarifa_ind = selTar.options[selTar.selectedIndex].value;
                    var selDis = document.getElementById("selectDist");
                    var id_dist = selDis.options[selDis.selectedIndex].value;
                    verificarSaldoTarifa(id_tarifa_dom, id_tarifa_ind, id_dist);
                }else{
                    alert('No hay tarifas para este distribuidor');
                }
            },
            error: function () {
                location.reload();
            }
        });
    };

    /* Verificar saldos de cliente */
    function verificarSaldoTarifa(id_tarifa_dom, id_tarifa_ind, id_dist){
        document.getElementById("saldoDom").className = "badge badge-secondary";
        document.getElementById('saldoDom').textContent = 'N/A';
        document.getElementById('txt15Dom').disabled = false;
        document.getElementById("ntf_pendiente").style.display = "none";
        var urlapi = '{% url 'saldo-cliente' %}';
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: urlapi,
            data: {'cliente_id':id_dist, 'tarifa_dom_id':id_tarifa_dom, 'tarifa_ind_id':id_tarifa_ind},
            dataType: 'json',
            success: function (data) {
                if (data.aplica_cupo_dom) {
                    if(data.cargas_dom15_cf > 0 || data.cargas_dom15_sf > 0){
                        document.getElementById('ntf_pendiente').style.display = "block";
                        document.getElementById('ntf_mensaje').innerHTML = "ATENCION!!: Existe una carga reciente sin cerrar de " +
                        "<b>CIL. DOM. 15KG: Facturado [" + data.cargas_dom15_cf + "], Sin Facturar [" + data.cargas_dom15_sf + "]</b>";
                    }

                    if(data.saldo_dom > 0) {
                        document.getElementById('saldoDom').className = "badge badge-success";
                        document.getElementById('saldoDom').innerHTML = data.saldo_dom + "  <i class='bi bi-check-circle'></i>";
                    }else {
                        document.getElementById('saldoDom').className = "badge badge-danger";
                        document.getElementById('saldoDom').innerHTML = data.saldo_dom + "  <i class='bi bi-x-circle'></i>";
                        var element = document.getElementById('txt15Dom');
                        element.disabled = true;

                    }
                }else{
                    document.getElementById('saldoDom').className = "badge badge-secondary";
                    document.getElementById('saldoDom').textContent = "N/A";
                }

                if (data.aplica_cupo_ind) {
                    if (data.saldo_ind > 0) {
                        document.getElementById("saldoInd").className = "badge badge-success";
                        document.getElementById('saldoInd').textContent = data.saldo_ind;
                    }else {
                        document.getElementById("saldoInd").className = "badge badge-danger";
                        document.getElementById('saldoInd').textContent = data.saldo_ind;
                    }
                }else{
                    document.getElementById("saldoInd").className = "badge badge-secondary";
                    document.getElementById('saldoInd').textContent = "N/A";
                }
            },
            error: function () {
                location.reload();
            }
        });
    };
</script>
{% endblock %}

