{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/turnos/distribuidor_salida.css' %}">
{% endblock %}

{% block content %}
<div class="mt-3 col-md-12">
    <div class="text-left text-muted">
        <h5 class="mb-3">REGISTRO DE SALIDA DE DISTRIBUIDORES Y CLIENTES FINALES</h5>
    </div>
    <div class="form-inline mb-2">
        <label for="selectOrden"><small class="mr-2">Total <span id="txtTotalOrdenes">0</span> Órdenes:</small></label>
        <select class="form-control form-control-sm col-sm-6" id="selectOrden">
            <option value="-" selected>[ SELECCIONE AQUI UNA ÓRDEN ]</option>
        </select>
        <div class="input-group input-group-sm ml-2 mr-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-calendar-week"></i></span>
            </div>
            <input type="text" class="form-control form-control-sm datepicker" aria-describedby="inputGroup-sizing-sm" id="txtFecha" placeholder="yyyy-mm-dd">
        </div>
        <button type="button" class="btn btn-primary btn-sm ml-2" id="btnBuscar">Buscar</button>
        <div id="spinner" style="display:none;" class="spinner-border spinner-border-sm ml-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header bg-info text-white">Datos de Órden de Despacho</div>
        <div class="card-body card-body-info">
            <!--botones accion-->
            <div class="text-left mb-2">
                <button type="button" id="btnCerrar" class="btn btn-success btn-sm" disabled>CERRAR</button>
                <button type="button" id="btnImprimir" class="btn btn-primary btn-sm ml-1" data-toggle="modal" data-target="#modalImprimir" disabled>
                    IMPRIMIR
                </button>
                <button type="button" id="btnAnular" class="btn btn-danger btn-sm ml-1" disabled>ANULAR</button>
            </div>
            <!--informacion orden-->
            <table class="table tabla-info">
                <tbody>
                <tr>
                    <th><small class="font-weight-bold mr-1">Nro. Órden:</small></th>
                    <th><input type="text" readonly class="form-control-plaintext form-control-sm" id="nroOrden" value="-"></th>
                    <th><small class="font-weight-bold ml-2 mr-1">Turno:</small></th>
                    <th><input type="text" readonly class="form-control-plaintext form-control-sm" id="nroTurno" value="-"></th>
                    <th><small class="font-weight-bold ml-2 mr-1">Entrada:</small></th>
                    <th><input type="text" readonly class="form-control-plaintext form-control-sm" id="infoEntrada" size="25" value="-"></th>
                </tr>
                <tr>
                    <th><small class="font-weight-bold">Distribuidor:</small></th>
                    <th colspan="3"><input type="text" readonly class="form-control-plaintext form-control-sm" id="infoDist" value="-"></th>
                    <th><small class="font-weight-bold ml-2 mr-1">Salida:</small></th>
                    <th><input type="text" readonly class="form-control-plaintext form-control-sm" id="infoSalida" value="-"></th>
                </tr>
                <tr>
                    <th><small class="font-weight-bold">Transportista:</small></th>
                    <th colspan="3"><input type="text" readonly class="form-control-plaintext form-control-sm" id="infoTrans" value="-"></th>
                    <th><small class="font-weight-bold ml-2 mr-1">Vehículo:</small></th>
                    <th><input type="text" readonly class="form-control-plaintext form-control-sm" id="infoVehi" value="-"></th>
                </tr>
                <tr>
                    <th><small class="font-weight-bold">Destino Dom.:</small></th>
                    <th><input type="text" readonly class="form-control-plaintext form-control-sm" id="infoTariDom" value="-"></th>
                    <th><small class="font-weight-bold ml-2 mr-1">Destino Ind.:</small></th>
                    <th><input type="text" readonly class="form-control-plaintext form-control-sm" id="infoTariInd" value="-"></th>
                    <th><small class="font-weight-bold ml-2 mr-1">Estado:</small></th>
                    <th><div id="infoEstado"></div></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header bg-info text-white">Guias</div>
        <table class="table table-sm table-bordered tabla-info">
            <thead>
                <tr>
                    <th class="small">Documento</th>
                    <th class="small">Número de Guia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="listaGuias"></tbody>
        </table>
    </div>
    <div class="card-group mt-1">
        <div class="card">
            <div class="card-header bg-info text-white">Cilindros Ingresados</div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-center"><small class="font-weight-bold">Tipo</small></th>
                        <th scope="col" class="text-left"><small class="font-weight-bold">Llenos</small></th>
                        <th scope="col" class="text-left"><small class="font-weight-bold">Vacios</small></th>
                        <th scope="col" class="text-left"><small class="font-weight-bold">Fugas</small></th>
                        <th scope="col" class="text-left"><small class="font-weight-bold">Total</small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><small class="font-weight-bold">Cilindro 15Kg</small></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txt15Llenos" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txt15Vacios" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txt15Fugas" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txt15Total" value="0" readonly></td>
                    </tr>
                    <tr>
                        <td><small class="font-weight-bold">Cilindro 45Kg</small></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txt45Llenos" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txt45Vacios" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txt45Fugas" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txt45Total" value="0" readonly></td>
                    </tr>
                    <tr>
                        <td><small class="font-weight-bold">Cilindro Otros</small></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txtOtrosLlenos" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txtOtrosVacios" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txtOtrosFugas" value="0" readonly></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txtOtrosTotal" value="0" readonly></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"><small class="font-weight-bold">Total Cilindros:</small></td>
                        <td><input type="text" class="form-control-plaintext form-control-sm" id="txtTotal" value="0" readonly></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-header bg-info text-white">Cilindros Facturados <small>(Cargas a facturar)</small></div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-center"><small class="font-weight-bold">Cargas</small></th>
                        <th scope="col" class="text-left"><small class="font-weight-bold">Factura</small></th>
                        <th scope="col" class="text-right"><small class="font-weight-bold">Total</small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><small class="font-weight-bold">Dom. 15Kg</small></td>
                        <td><input type="text" class="form-control form-control-sm" id="txtNumFactDom15" value="0" readonly></td>
                        <td class="text-right"><span id="txtFactDom15">0</span></td>
                    </tr>
                    <tr>
                        <td><small class="font-weight-bold">Ind. 15Kg</small></td>
                        <td><input type="text" class="form-control form-control-sm" id="txtNumFactInd15" value="0" readonly></td>
                        <td class="text-right"><span id="txtFactInd15">0</span></td>
                    </tr>
                    <tr>
                        <td><small class="font-weight-bold">Agri. 15Kg</small></td>
                        <td><input type="text" class="form-control form-control-sm" id="txtNumFactAgr15" value="0" readonly></td>
                        <td class="text-right"><span id="txtFactAgr15">0</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><small class="font-weight-bold">TOTAL CARGAS DE 15KG</small></td>
                        <td class="text-right"><span id="txtTotalFact15" class="font-weight-bold">0</span></td>
                    </tr>
                    <tr>
                        <td><small class="font-weight-bold">Ind. 45Kg</small></td>
                        <td><input type="text" class="form-control form-control-sm" id="txtNumFactInd45" value="0" readonly></td>
                        <td class="text-right"><span id="txtFactInd45">0</span></td>
                    </tr>
                    <tr>
                        <td><small class="font-weight-bold">Agri. 45Kg</small></td>
                        <td><input type="text" class="form-control form-control-sm" id="txtNumFactAgr45" value="0" readonly></td>
                        <td class="text-right"><span id="txtFactAgr45">0</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><small class="font-weight-bold">TOTAL CARGAS DE 45KG</small></td>
                        <td class="text-right"><span id="txtTotalFact45" class="font-weight-bold">0</span></td>
                    </tr>
                    <tr>
                        <td><small class="font-weight-bold">Ind. Otro</small></td>
                        <td><input type="text" class="form-control form-control-sm" id="txtNumFactIndOtro" value="0" readonly></td>
                        <td class="text-right"><span id="txtFactIndOtro">0</span></td>
                    </tr>
                    <tr>
                        <td><small class="font-weight-bold">Agri. Otro</small></td>
                        <td><input type="text" class="form-control form-control-sm" id="txtNumFactAgrOtro" value="0" readonly></td>
                        <td class="text-right"><span id="txtFactAgrOtro">0</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><small class="font-weight-bold">TOTAL CARGAS OTROS</small></td>
                        <td class="text-right"><span id="txtTotalFactOtro" class="font-weight-bold">0</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--modal pdf orden-->
    <div class="modal fade" id="modalImprimir" data-keyboard="false" tabindex="-1" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal"><small>Vista previa de Orden de Despacho</small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-pdf" id="divPdf">
                </div>
            </div>
        </div>
    </div>
    <!--modal pdf guia-->
    <div class="modal fade" id="modalImprimirGuia" data-keyboard="false" tabindex="-1" aria-labelledby="tituloModalGuia" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModalGuia"><small>Vista previa de Guia</small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-pdf" id="divPdfGuia">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jspdf/jspdf.min.js' %}"></script>
<script src="{% static 'js/jspdf/jspdf.plugin.addimage.js' %}"></script>
<script src="{% static 'js/pdfobject.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/turnos/distribuidor_salida.js' %}"></script>
<script type="text/javascript">
    window.onload=function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        }).datepicker("setDate",'now');
        buscarOrdenesInicial();
    };

    document.getElementById("btnBuscar").addEventListener("click", buscarOrdenes);
    document.getElementById("btnImprimir").addEventListener("click", imprimirTurno);
    document.getElementById("btnAnular").addEventListener("click", anularTurno);
    document.getElementById("btnCerrar").addEventListener("click", cerrarTurno);

    /* Onchange de select ordenes */
    document.getElementById('selectOrden').addEventListener('change', function(){
        limpiarCamposInfo();
        if(this.value != '-'){
            cargarInfoOrden(this.value);
        }
    });

    function verGuia(idGuia){
        var urlapi = '{% url 'api:guias-list' %}' + idGuia + '/';
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: urlapi,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                PDFObject.embed(construirPdfGuia(data), "#divPdfGuia");
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al visualizar el turno, contacte al administrador.\n\n" + arrExe.responseText);
            }
        });
    };

    /* Cambiar estado de turno a Cerrado */
    function cerrarTurno(){
        var numOrden = document.getElementById("nroOrden").value;
        var dom15 = document.getElementById("txtNumFactDom15").value;
        var ind15 = document.getElementById("txtNumFactInd15").value;
        var agr15 = document.getElementById("txtNumFactAgr15").value;
        if(dom15 != "FACTURA PENDIENTE" && ind15 != "FACTURA PENDIENTE" && agr15 != "FACTURA PENDIENTE"){
            var responseAlert = confirm("¿Esta seguro de CERRAR la orden nro: " + numOrden + " ?");
            if(responseAlert){
                var dataTurno = generarJsonDatosTurnoCerrar();
                var urlapi = '{% url 'api:turno-list' %}' + numOrden + '/';
                $.ajax({
                    headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                    type: 'PUT',
                    url: urlapi,
                    dataType: 'json',
                    data: JSON.stringify(dataTurno),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert("CERRAR TURNO:\n\nTurno nro.: " + numOrden + " se guardo exitosamente.\n\n");
                        window.location.reload(true);
                    },
                    error: function (msg) {
                        var arrExe = eval('(' + JSON.stringify(msg) + ')');
                        alert("ERROR: \n\nOcurrio un problema al cerrar y guardar el turno, contacte al administrador.\n\n" + arrExe.responseText);
                    }
                });
            }
        } else {
            alert("OPERACIÓN NO PERMITIDA:\n\nNo se puede cerrar turno, si hay cargas sin facturar.");
        }
    };

    /* Cambiar estado de turno a Anulado */
    function anularTurno(){
        var numOrden = document.getElementById("nroOrden").value;
        var responseAlert = confirm("¿Esta seguro de ANULAR la orden nro: " + numOrden + " ?");
        if(responseAlert){
            var dataTurno = generarJsonDatosTurnoAnular();
            var urlapi = '{% url 'api:turno-list' %}' + numOrden + '/';
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'PUT',
                url: urlapi,
                dataType: 'json',
                data: JSON.stringify(dataTurno),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert("ANULAR TURNO:\n\nTurno nro.: " + numOrden + " se anulo exitosamente.\n\n");
                    window.location.reload(true);
                },
                error: function (msg) {
                    var arrExe = eval('(' + JSON.stringify(msg) + ')');
                    alert("ERROR: \n\nOcurrio un problema al anular el turno, contacte al administrador.\n\n" + arrExe.responseText);
                }
            });
        }
    };

    /* Obtener turno y mostrar en modal */
    function imprimirTurno(){
        var nroOrden = document.getElementById("nroOrden").value;
        var urlapi = '{% url 'api:turno-list' %}' + nroOrden + '/';
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: urlapi,
            dataType: 'json',
            success: function (data) {
                PDFObject.embed(construirPdf(data), "#divPdf");
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al obtener el turno, contacte al administrador.\n\n" + arrExe.responseText);
            }
        });
    };

    /* Obtiene y muestra informacion de orden */
    function cargarInfoOrden(idOrden){
        if(idOrden.length > 0){
            var urlapi = '{% url 'api:turno-list' %}' + idOrden + '/';
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'GET',
                url: urlapi,
                dataType: 'json',
                success: function (data) {
                    if(data.estado_turno == 'E'){
                        document.getElementById("btnCerrar").disabled = false;
                        document.getElementById("btnImprimir").disabled = false;
                        document.getElementById("btnAnular").disabled = false;
                    } else if(data.estado_turno == 'S'){
                        document.getElementById("btnImprimir").disabled = false;
                    } else if(data.estado_turno == 'A'){
                        document.getElementById("btnImprimir").disabled = false;
                    }
                    mostrarInfoTurno(data);
                },
                error: function () {
                    location.reload();
                }
            });
        } else {
            alert("ERROR\n\nNo se ha enviado el id del turno");
        }
    };

    /* Obtiene ordenes de la fecha actual */
    function buscarOrdenesInicial(){
        var fecha = fechaActualFormateada();
        cargarOrdenes(fecha);
    };

    /* Obtiene fecha y ejecuta funcion cargarOrdenes */
    function buscarOrdenes(){
        var fecha = document.getElementById("txtFecha").value;
        cargarOrdenes(fecha);
        limpiarCamposInfo();
    };

    /* Obtiene turnos y carga en select */
    function cargarOrdenes(fecha){
        if(fecha.length > 0){
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'GET',
                url: '{% url 'api:turno-list' %}',
                data: {'fecha_entrd': fecha, tipo_clie: 'DIST'},
                dataType: 'json',
                beforeSend: function(){
                    document.getElementById("spinner").style.display = 'block';
                },
                complete: function(){
                    document.getElementById("spinner").style.display = 'none';
                },
                success: function (data) {
                    document.getElementById("selectOrden").options.length = 0;
                    var select = document.getElementById('selectOrden');
                    optionDefault = document.createElement("option");
                    optionDefault.value = "-";
                    optionDefault.text = "[ SELECCIONE AQUI UNA ÓRDEN ]";
                    select.appendChild(optionDefault);
                    document.getElementById("txtTotalOrdenes").innerHTML = data.length;
                    if (data.length > 0) {
                        data.forEach(function(item) {
                            option = document.createElement("option");
                            option.value = item.id_turno;
                            var estado;
                            if(item.estado_turno == 'E'){
                                estado = "[ABIERTA]";
                                option.style = "color:blue;";
                            }else if(item.estado_turno == 'S'){
                                estado = "[CERRADA]";
                                option.style = "color:green;";
                            }else if(item.estado_turno == 'A'){
                                estado = "[ANULADA]";
                                option.style = "color:red;";
                            }
                            option.text = estado + ' - ' + item.id_turno + ' - ' + item.nomb_inve_clie;
                            select.appendChild(option);
                        });
                    } else {
                        alert("ATENCIÓN\n\nNo se encontro ordenes en esta fecha.");
                    }
                },
                error: function () {
                    location.reload();
                }
            });
        } else {
            alert("ERROR:\n\nNo se ha enviado el dato fecha");
        }
    };

</script>
{% endblock %}


