{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}

{% endblock %}

{% block content %}
<div class="mt-3 col-md-12">
    <div class="text-left text-muted">
        <h5 class="mb-3">REGISTRO DE PLACAS Y CAPACIDAD</h5>
    </div>
    <hr>
    <form method="post" class="col-md-4">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success btn-sm" value="Guardar">
        <a href="{% url 'placa-capacidad' %}" class="btn btn-secondary btn-sm">Cancelar</a>
    </form>
</div>
{% endblock %}