{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<div class="mt-3 col-md-12">
    <div class="text-left text-muted">
        <h5 class="mb-3">REGISTRO DE PLACAS Y CAPACIDAD</h5>
    </div>
    <div class="form-inline mb-2">
        <a href="{% url 'placa-capacidad-crear' %}" type="button" class="btn btn-primary btn-sm" id="btnNuevo">Nuevo</a>
        <div id="spinner" style="display:none;" class="spinner-border spinner-border-sm ml-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!--tabla registros-->
    <hr>
    <table class="table table-striped" id="registros">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/turnos/placa_capacidad.js' %}"></script>
<script type="text/javascript">

    var tabla = generarConfigDatatable('registros');
    obtenerRegistrosPlacaCapacidad();

    /**
    * Obtiene los registros de placa y su capacidad
    */
    function obtenerRegistrosPlacaCapacidad(){
        tabla.clear().draw();
        var urlapi = '{% url 'api:placas_capacidad-list' %}';
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: urlapi,
            dataType: 'json',
            beforeSend: function(){
                document.getElementById("spinner").style.display = 'block';
            },
            complete: function(){
                document.getElementById("spinner").style.display = 'none';
            },
            success: function(data) {
              tabla.rows.add(data).draw();
            },
            error: function () {
                //location.reload();
            }
        });
    };

    function eliminarCapacidadPlaca(pk, placa){
        var urlApi = '{% url 'api:placas_capacidad-list' %}' + pk + '/';
        var mensajeConfirm = "¿Esta seguro de eliminar la capacidad de carga de la placa " + placa + "?";
        if(confirm(mensajeConfirm)){
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'DELETE',
                url: urlApi,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var msjSuccess = "Capacidad de vehiculo eliminada con éxito";
                    mostrarToast(msjSuccess, "success");
                    obtenerRegistrosPlacaCapacidad();
                },
                error: function (msg) {
                    var msjError = "Error al eliminar capacidad de vehiculo";
                    mostrarToast(msjError, "error");
                    var arrExe = eval('(' + JSON.stringify(msg) + ')');
                    console.log(arrExe.responseText);
                }
            });
        }
    }

    function actualizarCapacidadPlaca(pk, placa){
        var capacidadNueva = document.getElementById("txt_cap" + pk).value;
        var urlApi = '{% url 'api:placas_capacidad-list' %}' + pk + '/';
        var mensajeConfirm = "¿Esta seguro de actualizar la capacidad de carga de la placa " + placa + "?";
        if(confirm(mensajeConfirm)){
            var jsonObj = generarJsonDatosPlacaCapacidad(pk, placa, capacidadNueva);
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'PUT',
                url: urlApi,
                data: JSON.stringify(jsonObj),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var msjSuccess = "Capacidad de vehiculo actualizada con éxito";
                    mostrarToast(msjSuccess, "success");
                    obtenerRegistrosPlacaCapacidad();
                },
                error: function (msg) {
                    var msjError = "Error al actualizar capacidad de vehiculo";
                    mostrarToast(msjError, "error");
                    var arrExe = eval('(' + JSON.stringify(msg) + ')');
                    console.log(arrExe.responseText);
                }
            });
        }
    };

    /**
    * Genera configuracion con libreria datatables para tabla de registros
    * @param  {string} id_tabla: identificador de etiqueta <table>
    * @return {json} config: configuracion para generar tabla html
    */
    function generarConfigDatatable(id_tabla) {
        var config = $('#'+id_tabla).DataTable({
            "autoWidth": false,
            data:[],
            columns: [
                {title: 'Placa', data: 'placa', 'sClass':'small'},
                {title: 'Fecha de registro', data:'fecha_creacion', 'sClass':'small'},
                {title: 'Ultima actualización', data:'fecha_actualizacion', 'sClass':'small'},
                {
                    title: 'Capacidad Nueva',
                    data:'capacidad',
                    render: function(data, type, row) {
                        if(type ==='display'){
                            return generarHTMLInputCapacidad(data, row);
                        }else{
                            return data;
                        }
                    },
                    'sClass':'small'
                },
                {
                    title: 'Acción',
                    render: function(data, type, row, index) {
                        return generarHTMLAcciones(data, row);
                    },
                    'sClass':'small'
                }
            ]
        });
        return config;
    };
</script>
{% endblock %}


