<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Turnos {%endblock%}</title>
    <style>
        @page {
            @bottom-right {
                font-size: 0.8em;
                content: "Página " counter(page) " de " counter(pages);
            }
        }
    </style>
</head>
 <body>
    <div>
        <h5 class="text-center font-weight-bolder">SISTEMA DE TURNOS</h5>
        <h5 class="text-center font-weight-bolder">CEM LOJAGAS</h5>
        {% block header %}
        {% endblock %}
    </div>
    {% block container %}
    {% endblock %}
 </body>
</html>
