{% extends "base.html" %}
{% block title %} Reporte Despachado {%endblock%}

{% block header %}
    <div>
        <hr>
        <h5 class="text-info"><b>{{ nombre_report }}</b></h5>
        <span class="small"><b>Período:</b> {{ periodo.inve_codi_cupo }} - {{ periodo.inve_codi_desc }}</span><br>
        <span class="small"><b>Fecha:</b> {{ fecha }}</span><br>
        <span class="small"><b>Control: </b>{% if tipo_control == "cupo" %} CUPO {% else %} META {% endif %}</span><br>
        <span class="text-success small font-weight-bolder">Excelente >= 85% *</span>
        <span class="text-warning small font-weight-bolder">Bueno < 85% *</span>
        <span class="text-danger small font-weight-bolder">Bajo < 25% *</span>
    </div>
{% endblock %}

{% block container %}
    <br>
    <table class="table table-striped table-sm">
        <thead class="table-active">
            <tr>
                <th>#</th>
                <th>DISTRIBUIDOR</th>
                <th>DESTINO</th>
                <th class="text-right">{% if tipo_control == "cupo" %} CUPO {% else %} META {% endif %}</th>
                <th class="text-right">DESPACHOS</th>
                <th class="text-right">ORD. ABIERTAS</th>
                <th class="text-right">SALDO</th>
            </tr>
        </thead>
        <tbody class="center">
            {% for reg in data %}
                {% if reg.CUPO > 0 %}
                    <tr>
                        <td class="text-muted">{{ forloop.counter }}</td>
                        <td>{{ reg.NOMB_INVE_CLIE }}</td>
                        <td>
                            {% if reg.PORC_DESPACHO >= 0  and reg.PORC_DESPACHO <= 25 %}
                                <span class="text-danger">{{ reg.CODI_INVE_TARI }}</span>
                            {% elif reg.PORC_DESPACHO > 25 and reg.PORC_DESPACHO < 85 %}
                                <span class="text-warning">{{ reg.CODI_INVE_TARI }}</span>
                            {% elif reg.PORC_DESPACHO >= 85 and reg.CUPO > 0 %}
                                <span class="text-success">{{ reg.CODI_INVE_TARI }}</span>
                            {% endif %}
                            - {{ reg.NOMB_INVE_TARI }}
                        </td>
                        <td class="text-right">{{ reg.CUPO }} </td>
                        {% if reg.PORC_DESPACHO >= 0  and reg.PORC_DESPACHO <= 25 %}
                            <td class="text-right font-weight-bold">
                                <span>{{ reg.DESPACHOS }}</span>
                                <span class="text-white ley-danger"> {{ reg.PORC_DESPACHO }}%</span>
                            </td>
                            <td class="text-right text-danger">{{ reg.ORDENES_ABIERTAS }}</td>
                            <td class="text-right text-danger">{{ reg.SALDO_REAL }}</td>
                        {% elif reg.PORC_DESPACHO > 25 and reg.PORC_DESPACHO < 85 %}
                            <td class="text-right font-weight-bold">
                                <span>{{ reg.DESPACHOS }}</span>
                                <span class="ley-warning"> {{ reg.PORC_DESPACHO }}%</span>
                            </td>
                            <td class="text-right text-warning">{{ reg.ORDENES_ABIERTAS }}</td>
                            <td class="text-right text-warning">{{ reg.SALDO_REAL }}</td>
                        {% elif reg.PORC_DESPACHO >= 85 and reg.CUPO > 0 %}
                            <td class="text-right font-weight-bold">
                                <span>{{ reg.DESPACHOS }}</span>
                                <span class="text-white ley-success"> {{ reg.PORC_DESPACHO }}%</span>
                            </td>
                            <td class="text-right text-success font-weight-bold">{{ reg.ORDENES_ABIERTAS }}</td>
                            <td class="text-right text-success font-weight-bold">{{ reg.SALDO_REAL }}</td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr class="registro-tachado">
                        <td class="text-muted">{{ forloop.counter }}</td>
                        <td>{{ reg.NOMB_INVE_CLIE }}</td>
                        <td>{{ reg.CODI_INVE_TARI }} - {{ reg.NOMB_INVE_TARI }}</td>
                        <td class="text-right font-weight-bold">{{ reg.CUPO }} </td>
                        <td class="text-right font-weight-bold">{{ reg.DESPACHOS }} N/A</td>
                        <td class="text-right font-weight-bold">{{ reg.ORDENES_ABIERTAS }}</td>
                        <td class="text-right font-weight-bold">{{ reg.SALDO_REAL }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right font-weight-bold">TOTAL</td>
                <td class="text-right font-weight-bold">{{ total_control }}</td>
                <td class="text-right font-weight-bold">{{ total_despachos }}</td>
                <td></td>
                <td class="text-right font-weight-bold">{{ total_global }} ({{ total_despacho_extra }})*</td>
            </tr>
        </tfoot>
    </table>
    <br>
    <p class="small">* Total Despachos extra</p>
{% endblock %}


