{% extends "base.html" %}
{% block title %} Reporte Disponible {%endblock%}

{% block header %}
    <div>
        <hr>
        <h5 class="text-info"><b>{{ nombre_report }}</b></h5>
        <span class="small"><b>Período:</b> {{ periodo.inve_codi_cupo }} - {{ periodo.inve_codi_desc }}</span><br>
        <span class="small"><b>Fecha:</b> {{ fecha }}</span><br>
        <span class="small"><b>Control: </b>{% if tipo_control == "cupo" %} CUPO {% else %} META {% endif %}</span><br>
        <span class="text-success small font-weight-bolder">&#9650; Excedente respecto a minimo Industrial</span>
        <span class="text-danger small font-weight-bolder">&#9660; Minimo Industrial sin despachar </span>
    </div>
{% endblock %}

{% block container %}
    <br>
    <table class="table table-striped table-sm">
        <thead class="table-active">
            <tr>
                <th>#</th>
                <th>DISTRIBUIDOR</th>
                <th>DESTINO</th>
                <th class="text-right">{% if tipo_control == "cupo" %} CUPO {% else %} META {% endif %}</th>
                <th class="text-right">DESPACHOS</th>
                <th class="text-right">MIN. DOM</th>
                <th class="text-right">MIN. IND</th>
                <th class="text-right">REAL IND</th>
                <th class="text-right">SALDO IND</th>
            </tr>
        </thead>
        <tbody class="center">
            {% for reg in data %}
                {% if reg.CUPO > 0 %}
                    <tr>
                        <td class="text-muted">{{ forloop.counter }}</td>
                        <td>{{ reg.NOMB_INVE_CLIE }}</td>
                        <td>{{ reg.CODI_INVE_TARI }} - {{ reg.NOMB_INVE_TARI }}</td>
                        <td class="text-right">{{ reg.CUPO }} </td>
                        <td class="text-right font-weight-bold">{{ reg.DESPACHOS }} <span class="text-white ley-info">{{ reg.PORC_DESPACHO }}%</span></td>
                        <td class="text-right">{{ reg.EQUIV_MIN_IND }}</td>
                        <td class="text-right">{{ reg.NRO_CIL_IND }}</td>
                        <td class="text-right">{{ reg.REAL_IND }}</td>
                        <td class="text-right font-weight-bold">
                            {% if reg.SALDO_IND > 0 %}
                                <span class="text-success">&#9650; {{ reg.SALDO_IND }}</span>
                            {% elif reg.SALDO_IND < 0 %}
                                <span class="text-danger">&#9660; {{ reg.SALDO_IND }}</span>
                            {% else %}
                                {{ reg.SALDO_IND }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="registro-tachado">
                        <td class="text-muted">{{ forloop.counter }}</td>
                        <td>{{ reg.NOMB_INVE_CLIE }}</td>
                        <td>{{ reg.CODI_INVE_TARI }} - {{ reg.NOMB_INVE_TARI }}</td>
                        <td class="text-right">{{ reg.CUPO }} </td>
                        <td class="text-right font-weight-bold">{{ reg.DESPACHOS }} N/A</td>
                        <td class="text-right">{{ reg.EQUIV_MIN_IND }}</td>
                        <td class="text-right">{{ reg.NRO_CIL_IND }}</td>
                        <td class="text-right">{{ reg.REAL_IND }}</td>
                        <td class="text-right font-weight-bold">
                            {% if reg.SALDO_IND > 0 %}
                                <span class="text-success">&#9650; {{ reg.SALDO_IND }}</span>
                            {% elif reg.SALDO_IND < 0 %}
                                <span class="text-danger">&#9660; {{ reg.SALDO_IND }}</span>
                            {% else %}
                                {{ reg.SALDO_IND }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right font-weight-bold">TOTAL</td>
                <td class="text-right font-weight-bold">{{ total_control }}</td>
                <td class="text-right font-weight-bold">{{ total_despachos }}</td>
                <td colspan="3"></td>
                <td class="text-right font-weight-bold">
                    <span class="text-success">&#9650; {{ total_excendentes }}</span><br>
                    <span class="text-danger">&#9660; {{ total_min_nodespachado }}</span>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}


