{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/cupos/gestion_cupos_metas.css' %}">
{% endblock %}

{% block content %}
<div class="mt-3 col-md-12">
    <div class="text-left text-muted">
        <h5 class="mb-3">GESTIÓN DE CUPOS Y METAS A DISTRIBUIDORES</h5>
    </div>
    <!--formulario buscar -->
    <div class="form-inline mb-3">
        <label for="selectPeriodo" class="small mr-2">Períodos:</label>
        <select class="form-control form-control-sm mr-3" id="selectPeriodo">
            <option value="-" selected>[ SELECCIONE AQUI UN PERIODO ]</option>
            {% for periodo in lista_periodos %}
            <option value="{{ periodo.inve_codi_cupo }}">{{ periodo.inve_codi_desc }}</option>
            {% endfor %}
        </select>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="optionsControl" value="cupo" checked>
            <label class="form-check-label small">Cupos</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="optionsControl" value="meta">
            <label class="form-check-label small">Metas</label>
        </div>
        <button type="button" class="btn btn-primary btn-sm ml-1 mr-2" id="btnBuscar">Buscar</button>
        <div id="spinner" style="display:none;" class="spinner-border spinner-border-sm ml-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <hr>
    <!--tabla registros-->
    <table class="table table-striped table-sm" id="registros">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/cupos/gestion_cupos_metas.js' %}"></script>
<script type="text/javascript">
    document.getElementById("btnBuscar").addEventListener("click", buscaRegistros);
    var tabla = generarConfigDatatable('registros');

    function actualizarCupoMeta(pkRegistro, codigoCliente, codigoTarifa){
        var selectPeriodo = document.getElementById("selectPeriodo");
        var optionPeriodo = selectPeriodo.options[selectPeriodo.selectedIndex];
        var control = $('input:radio[name=optionsControl]:checked').val();
        var nuevoValor = document.getElementById("txt" + pkRegistro).value;
        var nuevoValorMinDom = document.getElementById("txt_min" + pkRegistro).value;
        var mensajeConfirm = (control == "cupo") ? "¿Esta seguro de actualizar el Cupo?" : "¿Esta seguro de actualizar la Meta?";
        if(confirm(mensajeConfirm)){
            var urlApi = (control == "cupo") ? '{% url 'actualizar-cupo' %}': '{% url 'actualizar-meta' %}';
            var jsonObj;
            if(control == "cupo"){
                jsonObj = generarJsonDatosCupo(pkRegistro, optionPeriodo.value, codigoCliente, codigoTarifa, nuevoValor, nuevoValorMinDom);
            }else{
                jsonObj = generarJsonDatosMeta(pkRegistro, optionPeriodo.value, codigoCliente, codigoTarifa, nuevoValor, nuevoValorMinDom);
            }
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'POST',
                url: urlApi,
                data: JSON.stringify(jsonObj),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var msjSuccess = (control == "cupo") ? "Cupo actualizado con éxito" : "Meta actualizada con éxito";
                    mostrarToast(msjSuccess, "success");
                    buscaRegistros();
                },
                error: function (msg) {
                    var msjError = (control == "cupo") ? "Error al actualizar cupo" : "Error al actualizar meta";
                    mostrarToast(msjError, "error");
                    var arrExe = eval('(' + JSON.stringify(msg) + ')');
                    console.log(arrExe.responseText);
                }
            });
        }
    };

    /**
    * Buscar registros de un periodo
    */
    function buscaRegistros(){
        var selectPeriodo = document.getElementById("selectPeriodo");
        var optionPeriodo = selectPeriodo.options[selectPeriodo.selectedIndex];
        var control = $('input:radio[name=optionsControl]:checked').val();
        var urlApi = (control=="cupo") ? '{% url 'api:cupos-list' %}' : '{% url 'api:metas-list' %}';
        var dataUrl = (control=="cupo") ? {'inve_codi_cupo': optionPeriodo.value, 'activos':'si'} : {'inve_codi_meta': optionPeriodo.value, 'activos':'si'};
        tabla.clear().draw();
        if(optionPeriodo.value !== '-'){
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'GET',
                url: urlApi,
                data: dataUrl,
                dataType: 'json',
                beforeSend: function(){
                    document.getElementById("spinner").style.display = 'block';
                },
                complete: function(){
                    document.getElementById("spinner").style.display = 'none';
                },
                success: function(data) {
                    (control=="cupo") ? $(tabla.column(4).header()).text('Cupo') : $(tabla.column(4).header()).text('Meta');
                    tabla.rows.add(data).draw();
                },
                error: function () {
                    location.reload();
                }
            });
        }else{
            alert("ERROR:\n\nNo se ha seleccionado un período");
        }
    };

    /**
    * Genera configuracion con libreria datatables para tabla de registros
    * @param  {string} id_tabla: identificador de etiqueta <table>
    * @return {json} config: configuracion para generar tabla html
    */
    function generarConfigDatatable(id_tabla) {
        var config = $('#'+id_tabla).DataTable({
            "autoWidth": false,
            data:[],
            columns: [
                {title: '#', render: function(data, type, row, index) { return index.row + 1;}, 'sClass':'text-black-50 small'},
                {
                    title: 'Distribuidor',
                    render: function(data, type, row) {
                        return row.nombre_cliente + " <label class='text-black-50'>("+ row.codi_inve_clie + ")</label>";
                    },
                    'sClass':'small'
                },
                {title: 'Código Destino', data:'codi_inve_tari', 'sClass':'small'},
                {title: 'Nombre Destino', data:'nombre_tarifa', 'sClass':'small'},
                {
                    title: 'Cupo',
                    data:'cupo_cant_prod',
                    render: function(data, type, row) {
                        if(type ==='display'){
                            return generarHTMLInputCupoMeta(data, row);
                        }else{
                            return data;
                        }
                    },
                    'sClass':'small'
                },
                {
                    title: 'Min. Doméstico',
                    data:'nume_inve_prod_equ0',
                    render: function(data, type, row) {
                        if(type ==='display'){
                            return generarHTMLInputMin(data, row);
                        }else{
                            return data;
                        }
                    },
                    'sClass':'small'
                },
                {
                    title: 'Accion',
                    data:'cupo_cant_prod',
                    render: function(data, type, row) {
                        if(type ==='display'){
                            return generarHTMLAcciones(data, row);
                        }else{
                            return data;
                        }
                    },
                    'sClass':'small'}
            ]
        });
        return config;
    };
</script>
{% endblock %}