{% extends "base/base.html" %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<form class="form-signin text-center" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <img class="mb-4 text-white" src="{% static 'img/recibo_color.png' %}" alt="" width="80" height="80">
    <h1 class="h3 mb-3 text-white font-weight-normal">Sistema de Turnos y Despachos de GLP</h1>
    <label for="username" class="sr-only">Usuario</label>
    <input type="text" name="username" id="username" class="form-control mb-2" placeholder="Usuario" required autofocus>
    {{ field.help_text }}
    <label for="password" class="sr-only">Contraseña</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Ingresar">
    <input type="hidden" name="next" value="{{ next }}">
    <br>
    {% if form.non_field_errors %}
    <div class="alert alert-dismissible alert-danger">
        <ul class='form-errors'>
            {% for error in form.non_field_errors %}
            <li><small>{{ error }}</small></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <p class="mt-5 mb-3 text-white">&copy; Lojagas 2020</p>
</form>
{% endblock %}