{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="mt-4 col-md-12 row ">
    <div class="col-md-12 text-center">
        <h3>Despacho de GLP a Distribuidores y Clientes Finales</h3>
        <p class="text-muted">Turnos de hoy, {{fecha_actual | date:"l, d F Y" }}</p>
    </div>
    <div class="col-md-12 text-center">
        <img src="{% static 'img/recibo_color.png' %}" width="300" height="280">
    </div>
    <div class="col-md-3">
        <div class="alert alert-dismissible alert-info">
            <span style="font-size: 60px;">{{estadisticas.total_abiertos}}</span>
            <p><strong>CREADOS</strong></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-dismissible alert-warning">
            <span style="font-size: 60px;">{{estadisticas.total_pendientes}}</span>
            <p><strong>PENDIENTES</strong></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-dismissible alert-danger">
            <span style="font-size: 60px;">{{estadisticas.total_anulados}}</span>
            <p><strong>ANULADOS</strong></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-dismissible alert-success">
            <span style="font-size: 60px;">{{estadisticas.total_cerrados}}</span>
            <p><strong>CERRADOS</strong></p>
        </div>
    </div>
</div>

{% endblock %}