{% load static %}
{% load i18n %}
{% load periodo_tag %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lojagas"/>
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/toast.css' %}">
    <title>Turnos Lojagas</title>
    {% block extracss %}
    {% endblock %}
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading text-center">
                <img src="{% static 'img/logo-lojagas.png' %}" width="170px;" height="65px;" alt="Logolojagas">
                <br>
                <span>Sistema de Turnos</span>
            </div>
            <div class="list-group list-group-flush">
                <span class="list-group-item list-group-item-action bg-light text-center">
                    <span class="badge badge-secondary info-label">{{user.first_name |upper }} {{ user.last_name |upper }}</span>
                    <span class="badge badge-secondary info-label">{{user.sucursal.nombre |upper }}</span>
                </span>
                <a href="{% url 'dashboard-home' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="bi bi-house icon-sidebar"></i> Inicio
                </a>
                <a class="list-group-item list-group-item-action bg-light" data-toggle="collapse" href="#menu_dist" role="button" aria-expanded="false" aria-controls="menu_dist">
                    <i class="bi bi-truck icon-sidebar"></i> Distribuidores <i class="bi bi-chevron-down float-right icon-caret-down"></i>
                </a>
                <div class="collapse lista-grupo" id="menu_dist">
                    <a href="{% url 'distribuidor-entrada' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Entrada</a>
                    <a href="{% url 'distribuidor-salida' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Salida</a>
                    <button class="list-group-item list-group-item-action bg-light" id="btnactualizar"><i class="bi bi-dot ml-2"></i>Actualiza Saldos</button>
                </div>
                <a class="list-group-item list-group-item-action bg-light" data-toggle="collapse" href="#menu_emp" role="button" aria-expanded="false" aria-controls="menu_emp">
                    <i class="bi bi-person icon-sidebar"></i> Empleados <i class="bi bi-chevron-down float-right icon-caret-down"></i>
                </a>
                <div class="collapse lista-grupo" id="menu_emp">
                    <a href="{% url 'empleado-pedido' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Pedidos</a>
                    <a href="{% url 'empleado-salida' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Salida</a>
                </div>
                <a class="list-group-item list-group-item-action bg-light" data-toggle="collapse" href="#menu_plac" role="button" aria-expanded="false" aria-controls="menu_plac">
                    <i class="bi bi-box icon-sidebar"></i> Choferes y Placas <i class="bi bi-chevron-down float-right icon-caret-down"></i>
                </a>
                <div class="collapse lista-grupo" id="menu_plac">
                    <a href="{% url 'placa-capacidad' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Capacidad Placas</a>
                    <a href="{% url 'reporte-consulta-transportistas' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Consulta Choferes</a>
                </div>
                {% if user.visualiza_reportes %}
                <a class="list-group-item list-group-item-action bg-light" data-toggle="collapse" href="#menu_rep" role="button" aria-expanded="false" aria-controls="menu_rep">
                    <i class="bi bi-graph-up icon-sidebar"></i> Reportes <i class="bi bi-chevron-down float-right icon-caret-down"></i>
                </a>
                <div class="collapse lista-grupo" id="menu_rep">
                    <a href="{% url 'reporte-stock-disponible' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Stock Disponible</a>
                    <a href="{% url 'reporte-stock-despachado' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Stock Despachado</a>
                    <a href="{% url 'reporte-stock-minmax' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Stock Min/Max</a>
                </div>
                {% endif %}
                {% if user.controla_cupos %}
                <a class="list-group-item list-group-item-action bg-light" data-toggle="collapse" href="#menu_cup" role="button" aria-expanded="false" aria-controls="menu_cup">
                    <i class="bi bi-moisture icon-sidebar"></i> Cupos y Metas <i class="bi bi-chevron-down float-right icon-caret-down"></i>
                </a>
                <div class="collapse lista-grupo" id="menu_cup">
                    <a href="{% url 'cupo-gestion' %}" class="list-group-item list-group-item-action bg-light"><i class="bi bi-dot"></i>Actualizar Cupo/Meta</a>
                </div>
                {% endif %}
                <a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-light">
                    <i class="bi bi-power icon-sidebar"></i> Salir
                </a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-light btn-sm" id="menu-toggle">
                    <i class="bi bi-layout-sidebar-inset icon-sidebar"></i>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--reloj-->
                <i class="bi bi-clock ml-3 mr-1"></i>
                <div id="relojnumerico" class="reloj" onload="cargarReloj()"></div>
                <!--periodo-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <span>PERÍODO:</span>
                            <!--Periodo-->
                            {% autoescape off %}
                                {% periodo_actual %}
                            {% endautoescape %}
                            <!--Fin Periodo-->
                        </li>
                    </ul>
                </div>
            </nav>
            <!--toast-->
            <div id="toastmsj"></div>
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <script type="text/javascript">
        document.getElementById("btnactualizar").addEventListener("click", actualizarSaldos);
        function actualizarSaldos(){
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'GET',
                url: "{% url 'actualiza-saldos' %}",
                success: function(data) {
                    if(data == 'OK'){
                        var msj = "Se actualizo saldos correctamente";
                        mostrarToast(msj, "success");
                    }else {
                        var msj = "Ocurrio un error al actualizar saldos de clientes";
                        mostrarToast(msj, "error");
                    }
                },
                error: function () {
                    console.log("error al consultar");
                }
            });
        }
    </script>
    {% block extrajs %}
    {% endblock %}
</body>
</html>


