/*!
 * CSS for distribuidor_entrada page
 * Anibal Gonzalez, aigonzalez@lojagas.com
 */

.info-label {
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
}

.info-orden {
    font-size: 1em;
    background-color: white;
    color: black;
    border-style: inset;
    border: 1px solid #7b7b7b;
}

.card-body-info {
    padding-top: 0.6rem;
    padding-bottom: 0.1rem;
    background-color: gainsboro;
}

.card-body-extra {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.card-header {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.card-footer {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.form-control-sm {
    font-weight: 500;
}

/*.btn-autorizar {
  padding: .1rem .5rem;
}*/

.showdiv {
    display: block !important;
}

.hiddendiv {
    display: none !important;
    visibility: hidden !important;
}

/* modal para visualizar pdf */
.modal-pdf {
    height: 660px;
    width: 100%;
}

/* container pdf embed */
.pdfobject-container {
    max-width: 100%;
	border: 1px solid rgba(0,0,0,.2);
	margin: 0;
}

/* panel informacion */
.label-orden {
    color:firebrick;
}

.form-distri {
    border-color: black;
    border-width: 2px;
}