/* Estilos para cards */
.card-header {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.card-body-info {
    padding-top: 0.6rem;
    padding-bottom: 0.1rem;
}
/* Estilos para select option */
.form-control-sm {
    font-weight: 500;
}

/* Estilos para tablas */
.table th {
    padding: 0.1rem;
    vertical-align: middle;
}

/* modal para visualizar pdf */
.modal-pdf {
    height: 660px;
    width: 100%;
}

/* container pdf embed */
.pdfobject-container {
    max-width: 100%;
	border: 1px solid rgba(0,0,0,.2);
	margin: 0;
}

/* tabla informacion */
.tabla-info {
    margin-bottom: 0rem;
}


.panelinfo {
    //padding-left: 0px;
    //padding-right: 0px;
}