
/* estilos para cards de informacion */
.card-body-info {
    padding-top: 0.6rem;
    padding-bottom: 0.1rem;
    background-color: gainsboro;
}

.card-header {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.card-footer {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.info-label {
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
}

/* panel informacion */
.info-orden {
    font-size: 1em;
    background-color: white;
    color: black;
    border-style: inset;
    border: 1px solid #7b7b7b;
}

/* label numero orden */
.label-orden {
    color:firebrick;
}

/* estilo para card de cupo disponible */
.card-body-extra {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

/* modal para visualizar pdf */
.modal-pdf {
    height: 660px;
    width: 100%;
}

/* container pdf embed */
.pdfobject-container {
    max-width: 100%;
	border: 1px solid rgba(0,0,0,.2);
	margin: 0;
}

.form-distri {
    border-color: black;
    border-width: 2px;
}