/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.lista-grupo a {
    padding-left: 2.0em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.list-group-item {
    font-size: 0.9rem;
    font-weight: bold;
}

/* label periodo actual */
.info-periodo {
    font-size: 1em;
}

.icon-caret-down {
    font-size: 0.7rem;
}

/* icon size sidebar */
.icon-sidebar {
    font-size: 1rem;
}

/* icon normal size */
.icon-normal {
    font-size: 1.1rem;
}

/* css reloj digital */
.reloj {
    color: #0d1420;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    background-color: #f7d06a;
    border: 1px solid #091321;
    border-radius: 6px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}