/* Estilos para mensaje toast */
.toastmsj-error {
  background-color: #c82333;
}

.toastmsj-success {
  background-color: #218838;
}

#toastmsj {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  border-color: #117a8b;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 15px;
}

#toastmsj.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}