{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/reportes/stock_disponible.css' %}">
{% endblock %}

{% block content %}
<div class="mt-3 col-md-12">
    <div class="text-left text-muted">
        <h5 class="mb-3">REPORTE STOCK DISPONIBLE POR DISTRIBUIDOR</h5>
    </div>
    <!--formulario buscar -->
    <div class="form-inline mb-3">
        <label for="selectPeriodo" class="small mr-2">Períodos:</label>
        <select class="form-control form-control-sm mr-3" id="selectPeriodo">
            <option value="-" selected>[ SELECCIONE AQUI UN PERIODO ]</option>
            {% for periodo in lista_periodos %}
            <option value="{{ periodo.inve_codi_cupo }}">{{ periodo.inve_codi_desc }}</option>
            {% endfor %}
        </select>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="optionsControl" value="cupo" checked>
            <label class="form-check-label small">Cupos</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="optionsControl" value="meta">
            <label class="form-check-label small">Metas</label>
        </div>
        <button type="button" class="btn btn-primary btn-sm ml-1 mr-2" id="btnBuscar"> Buscar</button>
        <button type="button" class="btn btn-outline-danger btn-sm" id="btnPdf" disabled>
            <i class="bi bi-download"></i> PDF
        </button>
        <div id="spinner" style="display:none;" class="spinner-border spinner-border-sm ml-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!--informacion-->
    <span class="text-success small mr-1 font-weight-bolder">Buen stock</span>
    <span class="text-warning small mr-1 font-weight-bolder">Bajo stock 15%</span>
    <span class="text-danger small mr-3 font-weight-bolder">Agotado 100%</span>
    <span class="text-muted small">Fecha de reporte: <span id="txtfecha"></span></span>
    <!--tabla registros-->
    <hr>
    <table class="table table-striped table-sm" id="registros">
        <thead></thead>
        <tbody></tbody>
		<tfoot>
            <tr>
				<th class="text-right font-weight-bold" colspan="4">TOTALES:</th>
                <th class="font-weight-bolder"></th>
                <th class="font-weight-bolder"></th>
                <th></th>
                <th></th>
                <th class="font-weight-bolder"></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/reportes/stock_disponible.js' %}"></script>
<script type="text/javascript">

    document.getElementById("btnBuscar").addEventListener("click", buscaRegistros);
    document.getElementById("btnPdf").addEventListener("click", exportarPdf);
    var tabla = generarConfigDatatable('registros');

    /* Exporta reporte PDF */
    function exportarPdf(){
        var selectPeriodo = document.getElementById("selectPeriodo");
        var optionPeriodo = selectPeriodo.options[selectPeriodo.selectedIndex];
        var control = $('input:radio[name=optionsControl]:checked').val();
        if(optionPeriodo.value !== '-'){
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'GET',
                url: '{% url 'reporte-stock-pdf' %}',
                data: {'periodo': optionPeriodo.value, 'tipo': control},
                xhrFields: {responseType: 'blob'},
                beforeSend: function(){
                    document.getElementById("spinner").style.display = 'block';
                    var msj = "El reporte se descargara en breves segundos.";
                    mostrarToast(msj, "success");
                },
                complete: function(){
                    document.getElementById("spinner").style.display = 'none';
                },
                success: function(data) {
                    var date = new Date();
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = "reporte_stock_disponible_" + date.getTime() + ".pdf";
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                },
                error: function () {
                    location.reload();
                }
            });
        }else{
            alert("ERROR:\n\nNo se ha seleccionado un período");
        }
    };

    /**
    * Buscar registros de un periodo
    */
    function buscaRegistros(){
        var selectPeriodo = document.getElementById("selectPeriodo");
        var optionPeriodo = selectPeriodo.options[selectPeriodo.selectedIndex];
        var control = $('input:radio[name=optionsControl]:checked').val();
        tabla.clear().draw();
        if(optionPeriodo.value !== '-'){
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'GET',
                url: '{% url 'reporte-stock' %}',
                data: {'periodo': optionPeriodo.value, 'tipo': control},
                dataType: 'json',
                beforeSend: function(){
                    document.getElementById("spinner").style.display = 'block';
                },
                complete: function(){
                    document.getElementById("spinner").style.display = 'none';
                },
                success: function(data) {
                    document.getElementById("txtfecha").innerHTML = data.fecha;
                    if(control=="cupo"){
                        data.registros.forEach( function(item, index) {
                            (item.CUPO == 0) ? data.registros.splice(index, 1) : null;
                        });
                        $(tabla.column(4).header()).text('Cupo');
                    }else{
                        $(tabla.column(4).header()).text('Meta');
                    }
                    tabla.rows.add(data.registros).draw();
                    document.getElementById("btnPdf").disabled = false;
                },
                error: function () {
                    location.reload();
                }
            });
        }else{
            alert("ERROR:\n\nNo se ha seleccionado un período");
        }
    };

    /**
    * Genera configuracion con libreria datatables para tabla de registros
    * @param  {string} id_tabla: identificador de etiqueta <table>
    * @return {json} config: configuracion para generar tabla html
    */
    function generarConfigDatatable(id_tabla) {
        var config = $('#'+id_tabla).DataTable({
            "autoWidth": false,
            data:[],
            columns: [
                {title: '#', render: function(data, type, row, index) { return index.row + 1;}, 'sClass':'text-black-50 small'},
                {
                    title: 'Distribuidor',
                    render: function(data, type, row) {
                        return row.NOMB_INVE_CLIE + " <label class='text-black-50'>("+ row.CODI_INVE_CLIE + ")</label>";
                    },
                    'sClass':'small'
                },
                {title: 'Código Destino', data:'CODI_INVE_TARI', 'sClass':'small'},
                {title: 'Nombre Destino', data:'NOMB_INVE_TARI', 'sClass':'small'},
                {title: 'Cupo', data:'CUPO', 'sClass':'text-right small'},
                {title: 'Despachos', data:'DESPACHOS', 'sClass':'text-right small'},
                {
                    title: '%',
                    data:'PORC_DESPACHO',
                    render: function(data, type, row) {
                        return (type === 'display') ? colorFila(row, data, true) : data;
                    },
                    'sClass':'small'
                },
                {title: 'Ordenes Abiertas', data:'ORDENES_ABIERTAS', 'sClass':'text-right small'},
                {title: 'Saldo Cilindro', data:'SALDO_REAL', 'sClass':'text-right small'}
            ],
            createdRow: function(row, data, dataIndex) {
                (data.CUPO === 0) ? $(row).addClass("table-danger"): null;
            },
            columnDefs: [{
                targets: [2,5,6,7,8], render: function(data, type, row) {
                    return (type === 'display') ? colorFila(row, data, false) : data;
                }
            }],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var totalCupos = api.column(4).data().reduce(function(a, b) { return converInt(a) + converInt(b);}, 0);
                $(api.column(4).footer()).html(formatNumero(totalCupos));
                var totalDespachos = api.column(5).data().reduce(function(a, b) { return converInt(a) + converInt(b);}, 0);
                $(api.column(5).footer()).html(formatNumero(totalDespachos));
                var totalSaldoGlobal = 0;
                var totalDespachoExtra = 0;
                data.forEach( function(item, index) {
                    (item.SALDO_REAL >= 0) ? totalSaldoGlobal += item.SALDO_REAL : totalDespachoExtra +=  item.SALDO_REAL;
                });
                $(api.column(8).footer()).html(formatNumero(totalSaldoGlobal) + " (" + formatNumero(totalDespachoExtra) + ")");
            }
        });
        return config;
    };
</script>
{% endblock %}