{% extends "base/base_app.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/reportes/transportistas_habilitados.css' %}">
{% endblock %}

{% block content %}
<div class="mt-3 col-md-12">
    <div class="text-left text-muted">
        <h5 class="mb-3">CONSULTA DE TRANSPORTISTAS HABILITADOS A DISTRIBUIDORES</h5>
    </div>
    <!--formulario buscar -->
    <div class="form-inline mb-3">
        <label for="selectDistribuidores" class="small mr-2">Distribuidores:</label>
        <select class="form-control form-control-sm mr-3" id="selectDistribuidores">
            <option value="-" selected>[ SELECCIONE AQUI UN DISTRIBUIDOR ]</option>
            {% for dist in lista_distribuidores %}
            <option value="{{ dist.pk }}">{{ dist.nomb_inve_clie }}</option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-primary btn-sm ml-1 mr-2" id="btnBuscar">Buscar</button>
        <div id="spinner" style="display:none;" class="spinner-border spinner-border-sm ml-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!--tabla registros-->
    <hr>
    <table class="table table-striped" id="registros">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/reportes/transportistas_habilitados.js' %}"></script>
<script type="text/javascript">
    document.getElementById("btnBuscar").addEventListener("click", buscaRegistros);
    var tabla = generarConfigDatatable('registros');

    /**
    * Buscar registros de un periodo
    */
    function buscaRegistros(){
        var selectDistribuidor = document.getElementById("selectDistribuidores");
        var optionDistribuidor = selectDistribuidor.options[selectDistribuidor.selectedIndex];
        tabla.clear().draw();
        if(optionDistribuidor.value !== '-'){
          var urlapi = '{% url 'api:cliente-list' %}' + optionDistribuidor.value + '/transportistas/';
            $.ajax({
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'GET',
                url: urlapi,
                dataType: 'json',
                beforeSend: function(){
                    document.getElementById("spinner").style.display = 'block';
                },
                complete: function(){
                    document.getElementById("spinner").style.display = 'none';
                },
                success: function(data) {
                  tabla.rows.add(data).draw();
                },
                error: function () {
                    location.reload();
                }
            });
        }else{
            alert("ERROR:\n\nNo se ha seleccionado un período");
        }
    };

    /**
    * Genera configuracion con libreria datatables para tabla de registros
    * @param  {string} id_tabla: identificador de etiqueta <table>
    * @return {json} config: configuracion para generar tabla html
    */
    function generarConfigDatatable(id_tabla) {
        var config = $('#'+id_tabla).DataTable({
            "autoWidth": false,
            data:[],
            columns: [
                {title: '#', render: function(data, type, row, index) { return index.row + 1;}, 'sClass':'text-black-50 small'},
                {title: 'Id Transportista', data: 'pk', 'sClass':'small'},
                {title: 'Cédula', data:'iden_inve_trsp', 'sClass':'small'},
                {title: 'Nombre Transportista', data:'desc_inve_trsp', 'sClass':'small'},
                {title: 'Placa', data:'plac_inve_trsp', 'sClass':'small'},
                {title: 'Marca', data:'marc_inve_trsp', 'sClass':'small'}
            ]
        });
        return config;
    };
</script>
{% endblock %}